.profile-image {
  width: 50px;
  height: 50px;
}

.example-card {
  width: 100px;
  float: left;
  margin: 5px;
  text-align: center;
}

.mat-card-header {
  margin-left:auto;
  margin-right:auto;
  text-align: center;
}

a { color: inherit; }

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
  color:#f44336;
  text-decoration: none;
}

a:active {
    text-decoration: none;
}
