<input type="text" (keyup)="onKeyup($event)">
<button (click)="getUsers()">search</button>
<p>{{ searchCount }}</p>
<ol *ngIf="searchResults">

  <md-card class="example-card" *ngFor="let user of searchResults.items">
    <!-- <a [href]="user.html_url" target="_blank"> -->
    <md-card-header>
      <md-card-title>
        <a md-raised-button (click)="showUserDetail(user)"> {{ user.login }} </a>
      </md-card-title>
      <md-card-subtitle> {{ user.score }}</md-card-subtitle>
    </md-card-header>
    <img md-card-image [src]="user.avatar_url" class="profile-image">
    <!-- </a> -->
  </md-card>
</ol>
